<section class="hero">
  <img src="/assets/images/anh2_trangchu.jpg" alt="Ảnh bên trái" class="hero-image left" />

  <div class="hero-content scroll-fade-in-up">
    <h1>Biến Hình Ảnh Trở Thành<br />Tác Phẩm Nghệ Thuật</h1>
    <p>
      Tạo ra những hình ảnh tuyệt đẹp chỉ từ những hình ảnh đơn giản.<br />
      AI của chúng tôi biến trí tưởng tượng của bạn thành hiện thực với chất
      lượng chuyên nghiệp chỉ trong vài giây.
    </p>
    <div class="buttons">
      <button class="primary" onclick="redirectToGenImage()">Bắt Đầu Tạo</button>
      <button class="secondary">Xem Bộ Sưu Tập</button>
    </div>
  </div>
  <img src="/assets/images/anh2_trangchu.png" alt="Ảnh bên phải" class="hero-image right" />
</section>