<section id="slider">
    <div class="viewer-header">
        <div class="image-name-list" id="imageNameList">
            <span data-img="/assets/images/anh2_trangchu.jpg">Ảnh 111111</span>
            <span data-img="/assets/images/anh1_trangchu.png">Ảnh 222222</span>
            <span data-img="/assets/images/images.jpg">Ảnh 333333</span>
            <span data-img="/assets/images/anh2_trangchu.png">Ảnh 4444444</span>

        </div>
    </div>

    <div class="main-image-box">
        <img id="mainImage" src="/assets/images/anh2_trangchu.jpg" alt="Ảnh 1">
    </div>
</section>